.friends{
  width: 493px;
  height: 500px;
  border: rgb(102,102,92) 1px solid;
  float: left;
  margin: 15px auto;
  border-radius: 7px;
  overflow-y: auto;
}

.chat{
  width: 493px;
  height: 500px;
  border: rgb(102,102,92) 1px solid;
  float: right;
  margin: 15px auto;
  border-radius: 10px;
  overflow-y:auto;
}

.friendsbox{
  width:90%;
  height: 70px;
  border: 1px rgb(200,1,80) solid;
  border-radius: 10px;
  margin: 8px auto;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.chatlist{
  width:90%;
  height: 70px;
  border: 1px rgb(200,1,80) solid;
  border-radius: 10px;
  margin: 8px auto;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.friends::-webkit-scrollbar {
  width: 10px;
}
.friends::-webkit-scrollbar-thumb {
  background-color: rgb(200,1,80);
  border-radius: 10px;
}
.friends::-webkit-scrollbar-track {
  background-color: rgb(102,102,92);
  border-radius: 10px;
}
.chat::-webkit-scrollbar {
  width: 10px;
}
.chat::-webkit-scrollbar-thumb {
  background-color: rgb(200,1,80);
  border-radius: 10px;
}
.chat::-webkit-scrollbar-track {
  background-color: rgb(102,102,92);
  border-radius: 10px;
}

p{
  margin: 5px auto 5px 20px;
  text-align: left;
}